<footer>
		<div class="container">
			<div class="col-sm-2">
				<!--   <img src="img/logo.png" class="img-responsive"> -->
			</div>
			<div class="col-sm-2">
				<h5>The company</h5>
				<ul class="list-unstyled">
					<li><a href="#">To Be Completed</a></li>
				</ul>
			</div>
			<div class="col-sm-2">
				<h5>Social</h5>
				<ul class="list-unstyled">
					<li><a href="#">To Be Completed</a></li>
				</ul>
			</div>
			<div class="col-sm-2">
				<h5>Support</h5>
				<ul class="list-unstyled">
					<li><a href="#">To Be Completed</a></li>
				</ul>
			</div>
			<div class="col-sm-4">
				<address>
					<strong>Created by: </strong> <br> Frank C Bogle - S&N Enterprise Architect <br>
					<abbr title="Phone">Mobile:</abbr> 07713 752 791
				</address>
			</div>
		</div>
	</footer>